
// sass by ed

#main-grid
  width: 450px
  height: 450px
  margin: 5px
  outline: 1px solid #ccc
  padding-top: 4px
  padding-left: 4px
  float: left
.main-grid-small
  width: 150px
  height: 150px
  margin: 5px
  outline: 1px solid #ccc
  padding-top: 4px
  padding-left: 4px

.grid-box, .grid-box-small
  width: 33%
  height: 33%
  position: relative
  float: left
  background-color: #eee
  cursor: pointer
  outline: 1px solid #ddd
  -webkit-user-select: none
  h3 // grid box font color
    padding: 0
    margin: 4px
    margin-top: 20%
    font-size: 1.5em
    text-align: center
    display: block
    color: #555

.grid-box:hover, .grid-box-small:hover
  background-color: #ddd
  outline: 1px solid #ccc
.grid-box:hover h3, .grid-box-small:hover h3
  color: #222
.grid-box input[type="checkbox"], .grid-box-small input[type="checkbox"]
  width: 20px
  margin: 0 auto
  display: block
  margin-top: 20px

.grid-box-small
  h3
    font-size: 0.65em
    margin-top: 10%
  input[type="checkbox"]
    margin-top: 8px

.grid-button
  opacity: 0
  position: absolute
  -webkit-transition: opacity 0.1s
  padding: 2px 7px
  padding-left: 6px
  border-radius: 0
.grid-box:hover .grid-button
  opacity: 1
  -webkit-transition: opacity 0.1s
.grid-delete
  bottom: 5px
  right: 5px
.grid-color
  bottom: 5px
  right: 40px

.submit-button
  position: relative
  top: -48px
  input
    font-size: 18px
    position: absolute
    top: 0px
    left: 444px

.add-new
  border: 3px solid #ddd
  width: 526px
  padding: 11px
  padding-bottom: 0px
  margin-left: 20px




